MAINICON ICON ..\Res\Stub.ico

1 VERSIONINFO
FILEVERSION 1,0,0,9   // substitute your own version #
PRODUCTVERSION 1,0,0,9
FILEFLAGSMASK 0x0000003FL
FILEFLAGS 0x00000000L
FILEOS 0x00040004L
FILETYPE 0x00000002L
FILESUBTYPE 0x00000000L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904E4"
        BEGIN
            VALUE "CompanyName", "Warp13\0"
            VALUE "FileDescription","BZ Self Extractor\0"
            VALUE "FileVersion", "1.0.0.9\0"
            VALUE "LegalCopyright","Copyright \251 Chris Porter/Warp13 2004-2006\0"
            VALUE "OriginalFilename", "SelfExtractor.exe\0"
            VALUE "ProductName", "BZ Self Extractor\0"
            VALUE "ProductVersion", "1.0.0.9\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0809,1252
    END
END